body, html {
	font: 16px "Raleway", sans-serif;
	line-height: 1.5;
	height: 100%;
	text-align: center;
	color: gray;
}

p {
	line-height: 1.5;
}

.img {
	height: 25px;
}

.logomain {
	height: 60px;
}

.social {
	font-size: 32px;
	color: #428bca;
	height: 32px;
	line-height: 32px;
	display: block;
}

.social:hover {
	color: tomato;
	cursor: pointer;
}

.panel-image {
	height: 150px;
	margin: 10px;
	display: block;
	margin: auto;
	box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset; 
	float: left;
	margin-right: 10px;
}

.panel-body {
	text-align: justify;
	
}

.contacts {
	font-family: Raleway, sans-serif;
}

.facust {
	//color: white;
	font-size: 16px;
}

.top {
	height: 10%;
}

.middle {
	height: calc(60% - 30px);
	overflow: auto;
}

.bottom {
	height: 25%;
	padding: 10px;	
	line-height: 20px;
}

.panel-body {
	height: 80% ! important;
}

.footer {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	padding: 0px;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: black; /* #428bca */
	width: 100%;
	text-align: center;
}